extends layout

block content
  div(class="header")
    h1 MIPS Simulator
  div(class="wrapper")
    form(action="/exec", method="POST" class="fgrow-2") 
      div(class="labeled-field fgrow-2 m-2")
        label(for="inpt_mem_size") Tamanho da mem칩ria (palavras):
        input(type="number" name="inpt_mem_size" value=mem_words)
        label(for="code") C칩digo de M치quina MIPS:
        textarea(name="code", cols="33", rows="40", id="code") #{code}
        label(for="input-file") Carregar arquivo: 
        input(type="file" name="input-file" id='textfile')
      div(class="buttons fgrow-1 m-2")
        input(type="submit" name="btn_exec" value="exec")
        label(for="inpt_max_clock") Max clock:
        input(type="number" name="inpt_max_clock" value=max_clock)
        input(type="submit" name="btn_clock" formaction="/clock" value="clock")
        input(type="submit" name="btn_reset" formaction="/reset" value="reset")
    div(class="fgrow-3")
      div(class="labeled-field fgrow-2 m-2")
        label(for="") Registradores:
        include tabelaRegistradores.pug
      div(class="labeled-field fgrow-2 m-2")
        label(for="") Sinais de Controle:
        include sinaisControle.pug
    div(class="others fgrow-2 m-2")
      include outrosRegistradores.pug
    div(class="labeled-field fgrow-2 m-2")
      label(for="") Mem칩ria:
      - var mem_string = ""
      each adress in frame.mem.self
        - mem_string += adress + "\n"
      textarea(name="memoria", cols="22", rows="40", readOnly) #{mem_string}