div(class="labeled-field")
    label(for="") State:
    input(readOnly, value="Busca da Instrução")
div(class="labeled-field")
    label(for="") Contador Instruções:
    input(readOnly, value="0")
div(class="labeled-field")
    label(for="") Contador Clocks:
    input(readOnly, value="0")
div(class="labeled-field")
    label(for="") PC:
    input(readOnly, value="00000000000000000000000000000000", size="33")
div(class="labeled-field")
    label(for="") MDR:
    input(readOnly, value="00000000000000000000000000000000", size="33")
div(class="labeled-field")
    label(for="") A:
    input(readOnly, value="00000000000000000000000000000000", size="33")
div(class="labeled-field")
    label(for="") B:
    input(readOnly, value="00000000000000000000000000000000", size="33")
div(class="labeled-field")
    label(for="") ALUOUT:
    input(readOnly, value="00000000000000000000000000000000", size="33")
div(class="labeled-field")
    label(for="") IR:
    input(readOnly, value="00000000000000000000000000000000", size="33")