table 
    tr 
        th Controle 
        th Valor 
    tr 
        th PCWriteCond
        td 0
    tr 
        th PCWrite
        td 0
    tr 
        th IorD
        td 0
    tr 
        th MemRead
        td 0
    tr 
        th MemToReg
        td 0
    tr 
        th IRWrite
        td 0
    tr 
        th CauseWrite
        td 0
    tr 
        th IntCause
        td 0
    tr 
        th EPCWrite
        td 0
    tr 
        th PCSource
        td 00
    tr 
        th ALUOp
        td 00
    tr 
        th ALUSrcB
        td 00
    tr 
        th ALUSrcA
        td 0
    tr 
        th RegWrite
        td 0
    tr 
        th RegDst
        td 0
    
