table
    tr
        th Registrador
        th Valor
        th Registrador
        th Valor
    tr
        th $zero
        td 0
        th $at
        td 0
    tr
        th $v0
        td 0
        th $v1
        td 0
    tr
        th $a0
        td 0
        th $a1
        td 0
    tr
        th $a2
        td 0
        th $a3
        td 0
    tr
        th $t0
        td 0
        th $t1
        td 0
    tr
        th $t2
        td 0
        th $t3
        td 0
    tr
        th $t4
        td 0
        th $t5
        td 0
    tr
        th $t6
        td 0
        th $t7
        td 0
    tr
        th $s0
        td 0
        th $s1
        td 0
    tr
        th $s2
        td 0
        th $s3
        td 0
    tr
        th $s4
        td 0
        th $s5
        td 0
    tr
        th $s6
        td 0
        th $s7
        td 0
    tr
        th $t8
        td 0
        th $t9
        td 0
    tr
        th $k0
        td 0
        th $k1
        td 0
    tr
        th $gp
        td 0
        th $sp
        td 0
    tr
        th $fp
        td 0
        th $ra
        td 0